<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}小程序</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <input type="hidden" name="user_id" value="0">
        <div class="form-item">
            <label class="item-label">小程序名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$info.name}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">图标<span class="check-tips"></span></label>
            <input type="hidden" name="icon" id="pics" value="{$info.icon}">
            <img class="modelspic" src="{$info.icon}" alt="">
            <div class="controls" id="fileuploader" style="width: 100%;">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">页面路径<span class="check-tips"></span></label>
            <div class="controls">
                <div class="controls">
                    <input type="text" class="text input-large" name="url" value="{$info.url}">
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">appid<span class="check-tips"></span></label>
            <div class="controls">
                <div class="controls">
                    <input type="text" class="text input-large" name="appid" value="{$info.appid}">
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">描述<span class="check-tips"></span></label>
            <div class="controls">
                <div class="controls">
                    <textarea name="descript" cols="60" rows="5">{$info.descript}</textarea>
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">排序<span class="check-tips"></span></label>
            <div class="controls">
                <div class="controls">
                    <input type="text" class="text input-large" name="sort" value="{$info.sort}">
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <input type="radio" name="status" value="1" <eq name="info.status" value="1">checked="checked"</eq>>启用
                <input type="radio" name="status" value="2" <eq name="info.status" value="2">checked="checked"</eq>>禁用
            </div>
        </div>

        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript" src="__JS__/jquery.uploadfile.min.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('recommend')}");
        $(function(){
            $("#fileuploader").uploadFile({
                url:"Admin/File/upload",
                dragDropStr:'点击选择图片',
                uploadStr:'点击选择图片',
                allowedTypes:'jpg,png,jpeg,gif',
                extErrorStr:'只能上传以下格式的文件:',
                fileName:"myfile",
                maxFileCount:1,
                onSuccess:function(files, response, xhr, pd){
                    if(parseInt(response.status) == 1){ //上传成功
                        var file = response.data.myfile.thumb;
                        $('#pics').val(file);
                        $('#fileuploader').before('<img class="modelspic" src="'+ file +'" />');
                    }else{
                        alert('图片上传失败');
                    }
                }
            });
        })
    </script>
</block>
